papers/
datasets/
*/*.aux
*/*.bbl 
*/*.blg
*/*.log
*/*.maf
*/*.mtc
*/*.mtc0
*/*.gz
*/*.fdb_latexmk
*/*.bbl
8/\#*
*/*.out
icdar_competition
automation/training_data
automation/training_data_png
gamera
experiments
rascunhos