papers/
datasets/
*/*.aux
*/*.bbl 
*/*.blg
*/*.log
*/*.maf
*/*.mtc
*/*.mtc0
*/*.gz
*/*.fdb_latexmk
*/*.bbl
8/\#*
*/*.out
icdar_competition
training_data_images_generator/training_data
training_data_images_generator/training_data_png
gamera
