<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>138.12.0.121252</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {559, 783}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>FontInfo</key>
		<dict>
			<key>Font</key>
			<string>Helvetica</string>
			<key>Size</key>
			<real>5</real>
		</dict>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2012-05-29 19:49:20 +0000</string>
	<key>Creator</key>
	<string>Ricardo de Cillo</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>GraphDocumentVersion</key>
	<integer>6</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{310.07306, 361.17743}, {180.77213, 46.814716}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>55</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs22 \cf0 3. Este operador, quando aplicado a imagens com caracter\'edsticas semelhantes as de treinamento, produzir\'e1, de forma gen\'e9rica, um resultado an\'e1logo.}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{310.07309, 264.13449}, {162.34283, 53.456081}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>54</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs22 \cf0 2. Algoritmo gerador de operadores morfol\'f3gicos a partir de dados de treinamento.}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{310.07309, 142.62448}, {162.34283, 36.07869}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>11</real>
			</dict>
			<key>ID</key>
			<integer>53</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs22 \cf0 1. Um ou mais pares de imagem exemplificando a transforma\'e7\'e3o de acordo com a regi\'e3o de interesse.}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{128.64047, 367.02927}, {152.71185, 35.111042}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>HelveticaNeue-Light</string>
				<key>Size</key>
				<real>10</real>
			</dict>
			<key>ID</key>
			<integer>48</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\fnil\fcharset0 HelveticaNeue-Light;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0 Operador morfol\'f3gico}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{186.95705, 320.63101}, {36.078697, 39.012268}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.333333</string>
					<key>g</key>
					<string>0.333333</string>
					<key>r</key>
					<string>0.333333</string>
				</dict>
				<key>Font</key>
				<string>HelveticaNeue-Light</string>
				<key>Size</key>
				<real>10</real>
			</dict>
			<key>ID</key>
			<integer>47</integer>
			<key>Rotation</key>
			<real>90</real>
			<key>Shape</key>
			<string>AdjustableArrow</string>
			<key>ShapeData</key>
			<dict>
				<key>ratio</key>
				<real>0.50000017881393433</real>
				<key>width</key>
				<real>20.000001907348633</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.81593</string>
						<key>r</key>
						<string>0.555535</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.874372</string>
						<key>g</key>
						<string>0.637537</string>
						<key>r</key>
						<string>0.304356</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.4523809552192688</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.4</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>ShadowVector</key>
					<string>{0, 2}</string>
				</dict>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
			<key>isConnectedShape</key>
			<true/>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{143.70212, 122.72342}, {122.58861, 77.270256}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>51</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{186.95705, 222.08173}, {36.078697, 39.012268}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.333333</string>
					<key>g</key>
					<string>0.333333</string>
					<key>r</key>
					<string>0.333333</string>
				</dict>
				<key>Font</key>
				<string>HelveticaNeue-Light</string>
				<key>Size</key>
				<real>10</real>
			</dict>
			<key>ID</key>
			<integer>29</integer>
			<key>Rotation</key>
			<real>90</real>
			<key>Shape</key>
			<string>AdjustableArrow</string>
			<key>ShapeData</key>
			<dict>
				<key>ratio</key>
				<real>0.50000017881393433</real>
				<key>width</key>
				<real>20.000001907348633</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.81593</string>
						<key>r</key>
						<string>0.555535</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.874372</string>
						<key>g</key>
						<string>0.637537</string>
						<key>r</key>
						<string>0.304356</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.4523809552192688</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.4</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>ShadowVector</key>
					<string>{0, 2}</string>
				</dict>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
			<key>isConnectedShape</key>
			<true/>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{128.64047, 273.30701}, {152.71185, 35.111042}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>HelveticaNeue-Light</string>
				<key>Size</key>
				<real>10</real>
			</dict>
			<key>ID</key>
			<integer>9</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\fnil\fcharset0 HelveticaNeue-Light;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf2 Gerador}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{128.64047, 111.45881}, {152.71187, 98.410019}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.333333</string>
					<key>g</key>
					<string>0.333333</string>
					<key>r</key>
					<string>0.333333</string>
				</dict>
				<key>Font</key>
				<string>HelveticaNeue-Light</string>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>ID</key>
			<integer>50</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>2</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image1.png</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2012-06-22 17:24:17 +0000</string>
	<key>Modifier</key>
	<string>Ricardo de Cillo</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595, 842}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{255, 4}, {931, 874}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-119, 22}, {796, 719}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>0.75</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
